body{
     background-image: url(assets/railway\ station.jpg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
     margin: 0;

     /*things used to bring the clock in the center of webpage */
      display: flex;
     justify-content: center;
     min-height: 100vh;
     align-items: center;

} 
 .clock-container{
  backdrop-filter: blur(5px);

}
.clock{
  color: hsl(0, 2%, 64%);
  font-size: 6rem;
  font-weight: bold;
  font-family: monospace;
  text-shadow: 3px 3px 5px black;
  text-align: center;


} 

 .box{
  border: 3px solid;
  padding: 25px;
} 